body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:999px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:50px;
  width:990px;
  height:50px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:50px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:836px;
  top:60px;
  width:102px;
  height:30px;
}
#u3_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:108px;
  height:36px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:35px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:30px;
  width:101px;
  height:27px;
  visibility:hidden;
}
#u7_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:107px;
  height:33px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:32px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:97px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:844px;
  top:66px;
  width:14px;
  height:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u12 {
  position:absolute;
  left:2px;
  top:1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:914px;
  top:70px;
  width:13px;
  height:13px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:50px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:50px;
}
#u16 {
  position:absolute;
  left:2px;
  top:17px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:16px;
  top:15px;
  width:362px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:0px;
  top:100px;
  width:981px;
  height:80px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:80px;
}
#u20 {
  position:absolute;
  left:2px;
  top:32px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:20px;
  top:117px;
  width:920px;
  height:22px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:22px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:22px;
  top:144px;
  width:920px;
  height:19px;
  font-size:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:19px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:6px;
  top:202px;
  width:216px;
  height:13px;
  font-family:'Verdana Negrito', 'Verdana';
  font-weight:700;
  color:#000000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:13px;
}
#u26 {
  position:absolute;
  left:2px;
  top:-2px;
  width:212px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:899px;
  top:385px;
  width:100px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u28 {
  position:absolute;
  left:21px;
  top:377px;
  width:978px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:961px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:978px;
  height:1px;
}
#u29 {
  position:absolute;
  left:11px;
  top:385px;
  width:530px;
  height:16px;
  font-family:'Verdana Normal', 'Verdana';
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:71px;
  top:279px;
  width:46px;
  height:16px;
  font-family:'Verdana Normal', 'Verdana';
  color:#000000;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:125px;
  top:253px;
  width:320px;
  height:20px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34 {
  position:absolute;
  left:32px;
  top:314px;
  width:183px;
  height:16px;
  font-family:'Verdana Normal', 'Verdana';
  color:#000000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:66px;
  top:253px;
  width:54px;
  height:16px;
  font-family:'Verdana Normal', 'Verdana';
  color:#000000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:123px;
  top:283px;
  width:131px;
  height:20px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:20px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u39 {
  position:absolute;
  left:123px;
  top:313px;
  width:322px;
  height:50px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:50px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
